html{
    
    overflow-x: hidden;
 }




.navbar navbar-expand-lg navbar-light bg-light{
    position: fixed;
}

.nav-link{

    margin: 6px;
}
.search-form form{
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    gap:1rem;
 }
 
 .search-form form .btn{
    margin-top: 0;
 }
 
 .search-form form .box{
    width: 100%;
    padding:1.2rem 1.4rem;
    border:var(--border);
    font-size: 2rem;
    color:var(--black);
    background-color: var(--light-bg);
    border-radius: .5rem;
 }