

*{
   font-family: 'Poppins',sans-serif;
   margin: 0px;
   padding: 0px;
box-sizing: border-box;
outline: none;
border: none;
text-decoration: none;
text-transform: capitalize;
}


.navbar navbar-expand-lg navbar-light{
  position: fixed;
}
.nav-link{

  margin: 6px;
}
html{
   font-size: 63.5%;
   overflow-x: hidden;
}
.container{
   max-width: 1200px;
   margin: 0 auto;
}
section{
   padding: 2rem;
}
.heading{
   text-align: center;
font-size: 3.5rem;
text-transform: uppercase;
color: black;
margin-bottom: 2rem;


}
.btn,
.option-btn,
.delete-btn{
display: block;
width: 100%;
text-align: center;
background-color: lemonchiffon;
color: var(--white);
font-size: 1.7rem;
padding: 1.2rem 3rem;
border-radius: .5rem;
cursor: pointer;
margin-top: 1rem;
}
.btn:hover,
.option-btn:hover,
.delete-btn:hover{
   background-color: rgb(232, 146, 146);
}
.option-btn i,
.delete-btn i{
padding-right: .5rem;

}

.option-btn{
   background-color: orange;
}
.option-btn:hover{
   background-color: lightgoldenrodyellow;
}

.delete-btn{
margin-top: 0;
background-color: lightcoral;
}
.message{
background-color:rgb(216, 198, 198);
position: sticky;
top: 0; left: 0;
z-index: 10000;
border-radius: .5rem;
background-color: rgb(113, 224, 185);
padding: 1.5rem 2rem;
margin: 0 auto;
max-width: 1200px;
display: flex;
align-items: center;
justify-content: space-between;
gap:1.5rem;

}

.message span{

font-size: 2rem;
color: rgb(225, 244, 206);
}
.message i{
font-size: 2.5rem;
color: rgb(217, 199, 199);

}
.message i:hover{
   color: rgb(167, 122, 210);
}
.haeder{
   background-color: lightpink;
   position: sticky;
top: 0px;left: 0px;

z-index: 1000;
}
.header .flex{
display: flex;
align-items: center;
padding: 1rem 2rem;
max-width: 1200px;
margin: 0 auto;


}
.header .flex .logo{
   margin-right: auto;
font-size: 2.5rem;
color: var(--white);

}
.header .flex .navbar a{
margin-left: 2rem;
font-size: 2rem;
color: var(--white);
}

.header .flex .navbar  a:hover{
   background-color: lightblue;
}
.header .flex .cart{
   margin-left: 2rem;
   font-size: 2rem;
   color: lightslategray;
}
.header .flex .cart:hover{
   color: yellowgreen;
}
.header .flex .cart span{
   padding: 1rem .5rem;
border-radius: .5rem;
background-color: black;
color: aquamarine;
font-size: 2rem;
}
#menu-btn{
   margin-left: 2rem;
   font-size: 3rem;
   cursor: pointer;
   color: aqua;
   display: none;
   
   }
.add-product-form{
   max-width: 50rem;
   background-color:lemonchiffon;
   border-radius: .5rem;
   padding: 2rem;
margin: 0 auto;
margin-top: 2rem;

}
.add-product-form h3{
   font-size: 2.5rem;
   margin-bottom: 1rem;
   color: var(--black);
   text-transform: uppercase;
   text-align: center;
}
.add-product-form .box{
text-transform: none;
padding: 1.2rem 1.4rem;
font-size: 1.7rem;
color: var(--black);
border-radius:.5rem;
background-color: var(--white);
margin: 1 rem 0;
width: 100%;
}
.display-product-table  table{
width:100%;
text-align: center;
}
.display-product-table  table thead th{
padding:1.5rem;
font-size: 2rem;
background-color: black;
color:white ;
}
.display-product-table  table td{
   padding: 1.5rem;
font-size: 2rem;
color: black;


}
.display-product-table  td:first-child{
   padding:0 ;
}
.display-product-table table tr:nth-child(even){
   background-color: rgb(182, 182, 236);
}
.display-product-table .empty{
   margin-bottom: 2rem;
   text-align: center;
   background-color: beige;
   color: black;
   font-size: 1.5rem;
}
.edit-form-container{
position: fixed;
top: 0; left: 0;
z-index: 1100;
background-color: black;
padding: 2rem;
display: none;
align-items: center;
justify-content: center;
min-height:100vh;
width: 100%;
}
.edit-form-container form{
   width: 50rem;
   border-radius: .5rem;
   background-color: white;
   text-align: center;
   padding: 2rem;
}
.edit-form-container form .box{
width: 100%;
background-color: aliceblue;
border-radius: .5rem;
margin: 1rem 0;
font-size: 1.7rem;
color: black;

padding: 1.2rem 1.4rem;
text-transform: none;

}
.products .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap:1.5rem;
  justify-content: center;
}

.products .box-container .box{
  text-align: center;
  padding:2rem;
  box-shadow: var(--box-shadow);
  border:var(--border);
  border-radius: .5rem;
}

.products .box-container .box img{
  height: 25rem;
}

.products .box-container .box h3{
  margin:1rem 0;
  font-size: 2.5rem;
  color:var(--black);
}

.products .box-container .box .price{
  font-size: 2.5rem;
  color:var(--black);
}

.shopping-cart table{
  text-align: center;
  width: 100%;
}

.shopping-cart table thead th{
  padding:1.5rem;
  font-size: 2rem;
  color:var(--white);
  background-color: var(--black);
}

.shopping-cart table tr td{
  border-bottom: var(--border);
  padding:1.5rem;
  font-size: 2rem;
  color:var(--black);
}

.shopping-cart table input[type="number"]{
  border: var(--border);
  padding:1rem 2rem;
  font-size: 2rem;
  color:var(--black);
  width: 10rem;
}

.shopping-cart table input[type="submit"]{
  padding:.5rem 1.5rem;
  cursor: pointer;
  font-size: 2rem;
  background-color: var(--orange);
  color:var(--white);
}

.shopping-cart table input[type="submit"]:hover{
  background-color: var(--black);
}

.shopping-cart table .table-bottom{
  background-color: var(--bg-color);
}

.shopping-cart .checkout-btn{
  text-align: center;
  margin-top: 1rem;
}

.shopping-cart .checkout-btn a{
  display: inline-block;
  width: auto;
}

.shopping-cart .checkout-btn a.disabled{
  pointer-events: none;
  opacity: .5;
  user-select: none;
  background-color: var(--red);
}

.checkout-form form{
  padding:2rem;
  border-radius: .5rem;
  background-color: var(--bg-color);
}

.checkout-form form .flex{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.checkout-form form .flex .inputBox{
  flex:1 1 40rem;
}

.checkout-form form .flex .inputBox span{
  font-size: 2rem;
  color:var(--black);
}

.checkout-form form .flex .inputBox input,
.checkout-form form .flex .inputBox select{
  width: 100%;
  background-color: var(--white);
  font-size: 1.7rem;
  color:var(--black);
  border-radius: .5rem;
  margin:1rem 0;
  padding:1.2rem 1.4rem;
  text-transform: none;
  border:var(--border);
}

.display-order{
  max-width: 50rem;
  background-color: var(--white);
  border-radius: .5rem;
  text-align: center;
  padding:1.5rem;
  margin:0 auto;
  margin-bottom: 2rem;
  box-shadow: var(--box-shadow);
  border:var(--border);
}

.display-order span{
  display: inline-block;
  border-radius: .5rem;
  background-color: var(--bg-color);
  padding:.5rem 1.5rem;
  font-size: 2rem;
  color:var(--black);
  margin:.5rem;
}

.display-order span.grand-total{
  width: 100%;
  background-color:lightcoral;
  color: white;
  padding:1rem;
  margin-top: 1rem;
}

.order-message-container{
  position: fixed;
  top:0; left:0;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding:2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;
  background-color:black;
  width: 100%;
}

.order-message-container::-webkit-scrollbar{
  width: 1rem;
}

.order-message-container::-webkit-scrollbar-track{
  background-color: gray;
}

.order-message-container::-webkit-scrollbar-thumb{
  background-color:lightgreen;
}

.order-message-container .message-container{
  width: 50rem;
  background-color: var(--white);
  border-radius: .5rem;
  padding:2rem;
  text-align: center;
}

.order-message-container .message-container h3{
  font-size: 2.5rem;
  color:var(--black);
}

.order-message-container .message-container .order-detail{
  background-color: black;
  border-radius: .5rem;
  padding:1rem;
  margin:1rem 0;
}

.order-message-container .message-container .order-detail span{
  background-color: var(--white);
  border-radius: .5rem;
  color:var(--black);
  font-size: 2rem;
  display: inline-block;
  padding:1rem 1.5rem;
  margin:1rem;
}

.order-message-container .message-container .order-detail span.total{
  display: block;
  background: var(--red);
  color:var(--white);
}

.order-message-container .message-container .customer-details{
  margin:1.5rem 0;
}

.order-message-container .message-container .customer-details p{
  padding:1rem 0;
  font-size: 2rem;
  color:var(--black);
}

.order-message-container .message-container .customer-details p span{
  color:var(--blue);
  padding:0 .5rem;
  text-transform: none;
}
.search-form form{
  max-width: 1200px;
  margin:0 auto;
  display: flex;
  gap:1rem;
}

.search-form form .btn{
  margin-top: 0;
}

.search-form form .box{
  width: 100%;
  padding:1.2rem 1.4rem;
  border:var(--border);
  font-size: 2rem;
  color:var(--black);
  background-color: var(--light-bg);
  border-radius: .5rem;
}