body{
    padding: 50px;

}


.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: rgb(33, 31, 31) 0px 7px 29px 0px;
    background-color: lightcyan;
}
.form-group{
    margin-bottom: 30px;
   
}